
<!-- Tab container -->
<div class="col-md-9 tab-container">
    <%- include('component_tabs', { tabs: tabs, snippets: snippets }) %>
</div>
<!-- Image list -->
<div class="col-md-3 image-list" id="imageList">
    <%- include('component_pics', { pics: pics }) %>
</div>