<button class="floating-button" id="floatingButton">
    <i class="fas fa-plus"></i>
</button>
<button class="floating-button second" id="edit_FloatingButton" data-component-id="<%= component?.id %>">
    <i class="fas fa-edit"></i>
</button>
